html body{
    height: 100%;
    width: 100%;
}

#toLogin:active{
    background-color: #90caf9;
    font-weight: bold
}

#toRegister:active{
    background-color: #90caf9;
    font-weight: bold
}

#toAddProject-btn {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
    color: green;
    font-weight: bold
}

#home-btn{
    margin-left: 15%;
    font-size:18px;
    font-weight: bold
}

#home-btn:hover{
    border-radius: 25px;
    background: #73AD21;
    padding: 13px;
}

#myTodo-btn{
    margin-left: 2%;
    font-size:18px;
    font-weight: bold
}

#myTodo-btn:hover{
    border-radius: 25px;
    background: #73AD21;
    padding: 13px;
}


#toAddProject-btn:hover {
    color: red;
    font-weight: bolder;
}

#toAddMyTodo-btn{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Nunito Sans', sans-serif;
    color: green;
    font-weight: bold
}

#toAddMyTodo-btn:hover{
    color: red;
    font-weight: bolder;
}

#projectList-title{
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    font-size: 22px;
    margin-top: -5px;
    margin-bottom: 10px;
    color: #e65100;
    position: fixed-top;
}

#todoList-title{
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    font-size: 22px;
    margin-top: -5px;
    margin-bottom: 10px;
    color: #311b92;
    text-align: center;
}

#finishedList-title{
    font-weight: bold;
    font-family: 'Bree Serif', serif;
    font-size: 22px;
    margin-top: -5px;
    margin-bottom: 10px;
    color: #880e4f 
}

#projectContainer {
    border-right: 5px solid darkred;
    height: 100vh;
    overflow-y: scroll
}

#todoContainer{
    border-right: 5px solid darkgreen;
    height: 100vh;
    overflow-y: scroll
}

#myTodoList{
    height: 100vh;
    width: 100%;
    overflow-y: scroll
}

#myFinishedTodoList{
    height: 100vh;
    width: 100%;
    overflow-y: scroll
}

.myTodoTitle{
    font-family: 'Bree Serif', serif;
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: indigo;

    
}

#myTodoListContainer{
    border-right: 3px solid darkslateblue;
    
}

#todoList-titleProject{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    border-radius: 30px;
    background:#b39ddb;
    padding: 8px;
    margin-bottom: 10px;

}

#finishedList-projectTitle{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    border-radius: 30px;
    background:#ef9a9a;
    padding: 8px;
    margin-bottom: 10px;
}
