#projectAddRemoveMember{
    border: 1px solid black;

}
#projectAllmember{
    border: 1px solid black;

}
#projectDetailed{
    border: 1px solid black;

}
#projectAllTask{
    border: 1px solid black;

}
.columnsProject{
    margin-top: 30px;
}