body {
  background-image: url("../image/bicycle-789648_960_720.jpg");
  background-position: center;
 }

 .sign {
  background-color: white;
  margin-top: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10%;
  flex-direction: column;
  width: 500px;
 }

 .space {
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .flex-box {
   display: flex;
 }

 .profile {
   height: 100vh;
 }

 .img-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 30px;
   border-style: hidden;
   border-radius: 20%
 }

 .img-box img {
   width: 200px;
   height: 200px;
   border-radius: 50%
 }

 .dash {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .profile {
   display: flex ; 
   flex-direction: column;
   align-content: center;
   align-items: center;
 }
 
 .form-todo {
   background-color:white;
   margin-top: 20px;
 }

 .blue-grey.darken-1 {
  width: 300px;
}

#weather{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 0%;
}

#weather p{
  margin: 0 !important
}
